.search {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1em;
  &__title {
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    color: var(--zinc-400);
  }
  &__input {
    background-color: blue;
    padding: 0.5em;
  }
}
